/* CSS reset */
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
}

/* SPA */
#spa-top, #spa-app{
	text-align: center;
}

#spa-top{
	background-color: rgba(0,0,0,0.8);
}

#spa-app{
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.5);
}

#spa-vars{
	display: none;
}

/* Vertical Box for SPA and subcomponents to get page height 100% */
.vbox{
	height: 100%;
	width: 100%;
	display: table;
}

.vbox-top{
	width: 100%;
}

.vbox-bottom{
	height: 100%;
    display: table-row;
}

/* Body and background */
body{
    background-color: black;
    color: whitesmoke;
	font-family: 'Roboto', sans-serif;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-layer{
	background-image: url('../images/background-720p.jpg');
	-webkit-font-smoothing:antialiased;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0) scale(1.0, 1.0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



body a{
    color: #CD00CD;
}

body a:active{
    color: orangered;
}

.title{color:whitesmoke;}
.title:visited{color:whitesmoke;}

/* Content section */
.content{
	height: 100%;
}

.text-top-space{
	padding-top: 10%;
}

/* Upload */
#upload{
	height: 100%;
}

#upload fieldset{
	height: 100%;
}

#upload #file_selector{
	height: 90%;
}

#upload #filedrag{
	height: 90%;
}

#upload legend{
	font-weight: bold;
	color: #333;
}

#upload #filedrag{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: yellow;
	border: 2px dashed orange;
	border-radius: 7px;
	cursor: default;
}

#upload #filedrag.hover{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#upload img{
	max-width: 100%;
}

#upload pre{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#upload #messages{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

#upload #progress p{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#upload #progress p.success{
	background: #0c0 none 0 0 no-repeat;
}

#upload #progress p.failed{
	background: #c00 none 0 0 no-repeat;
}

#upload-done .left{
	max-width: 100%;
}
#upload-done #video-preview{
	max-width: 100%;
}

#upload-done .right{
	overflow: hidden;
	text-align: left;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { 
	/* tablet, landscape iPad, lo-res laptops ands desktops */ 
	#upload-done .left{
		float: left;
		max-width: 70%;
	}

	.background-layer:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: inherit;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		z-index: -1;
		animation: bodyblur_pageopened 1s normal, 1s bodyblur 5s infinite;
	
	}
	
	@keyframes bodyblur_pageopened {
		0%   {
			filter        : blur(100px);
			-moz-filter   : blur(100px);
			-webkit-filter: blur(100px);
			-o-filter     : blur(100px);
		}
		100% { 
			filter        : blur(0.5px);
			-moz-filter   : blur(0.5px);
			-webkit-filter: blur(0.5px);
			-o-filter     : blur(0.5px);
		}
	}
	
	@keyframes bodyblur {
		0%   {
			filter        : blur(1.5px);
			-moz-filter   : blur(1.5px);
			-webkit-filter: blur(1.5px);
			-o-filter     : blur(1.5px);
		}
		50% { 
			filter        : blur(0.5px);
			-moz-filter   : blur(0.5px);
			-webkit-filter: blur(0.5px);
			-o-filter     : blur(0.5px);
		}
		100%   {
			filter        : blur(1.5px);
			-moz-filter   : blur(1.5px);
			-webkit-filter: blur(1.5px);
			-o-filter     : blur(1.5px);
		}
	}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }